@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
#view {
	background-color: black;
	text-align: center;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
#slider {
	width: 60px;
}
#slider + div {
	margin-left: 90px;
}

#searchPanel ul {
	max-height: 200px;
}
